h2 {
    color: color:#00ff00;
    text-align: left;
    font-size: 12pt;
    font-family: Georgia;
}
h4 {
    color: red;
    text-align: left;
    font-size: 8pt;
    font-family: Georgia;
}
p {
    color:gray;
    line-height: 200%;
}
body
{ 
    background-position:center;
}
