h2 {
    color: red;
    text-align: left;
    font-size: 8pt;
    font-family: Georgia;
}
h4 {
    color: red;
    text-align: left;
    font-size: 8pt;
    font-family: Georgia;
}
body
{ 
    background-position:center;
}
