p {background-color: gray; padding: 20px;}
h2 {
    color: red;
    text-align: left;
    font-size: 8pt;
}

h4 {
    color: red;
    text-align: left;
    font-size: 8pt;
}

body
{ 
    background-position:center;
}
